#title{
    font-size: 500%;
    font-family : arial;
    text-align : center;
    margin-bottom : 8%;
}

#timer{
    left : 50%;
    top : 50%;

    position : absolute;

    text-align : center;
}

.circle{

    margin : auto;
    border-radius : 50%;
    height : 200px;
    width : 200px;
    border : 2px solid blue;
    text-align : center;

    position : relative;

    margin-bottom : 5%
}

#start_stop{
    display : flex;
    margin : auto;
}

#working_state{

    font-family : arial;
    text-align : center;

    margin-bottom : 3%;
}

#container{
    width:100%;
    height:100%;
}

#body{
    transition: background-color 5000ms linear;
}