#title{
    text-align : center;
}

#timer{
    text-align : center;
}

#start_stop{
    display : flex;
    margin : auto;
}

#working_state{
    margin : auto;
    text-align : center;
}

#container{
    width:100%;
    height:100%;
}

#body{
    transition: background-color 5000ms linear;
}